
/*-------------------General------------------*/
* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;

}

.pageWrapper {
    /*min-height: 100%;*/
    padding-bottom: 100px;

}

body {
    background-image: linear-gradient(170deg, rgba(161, 157, 162, 0.68), #918e82 100%);
    /*height: 100%; Prevent bg gradiant repeat*/
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*position: relative;*/
    min-height: 100%;
    position: relative;


}

html {
    height: 100%;
}
header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom right, rgba(173, 204, 165, 0.75), rgba(225, 229, 240, 1));
    padding: 10px 15px 2px 15px;
    position: relative;
    box-shadow: 0px 0px 5px grey;
    margin-bottom: 1%;
}

.container {
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
}

section {
    background: rgba(255,255,255,.9);
    box-shadow: 5px 5px 8px grey;
}

h1 {
    font-size: 7.0em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 0.1em;
    font-weight: 300;
    text-shadow: 3px 2px 4px rgba(0,0,0,.2);
    /*background-color: linear-gradient(to left, rgba(255,255,255,0.7), rgba(125,125,125,0.9))*/
}

h1:hover {
    transition: 1s;
}

@-moz-document url-prefix(){ 
   h1 { /*Firefox specific fix to prevent failure of background-clip*/
    color: black;
    background: none;
    background-clip: none;
    -webkit-background-clip: none; 
    -webkit-text-fill-color: none;
    }
}

h2 {
    font-weight: lighter;
    font-size: 2.0em;
    margin: 0;
}

h3 {
    margin: 0 0 6px 10px;
    font-weight: lighter;
}

h4 {
    font-size: 1.5em;
    font-weight: lighter;
    margin: 22px 0px 8px 0px;
}

a {
    text-decoration: none
}


.loginHeader {
    width: 100%;
    height: 4%;
    min-height: 25px;
    background: rgba(51,51,51,0.9);
    margin-bottom: 10px;
    color: white;
    line-height: 25px;
}

a:visited {
    color: blue;
}
/*Deprecated*/
.footerElement {
    float: left;
    /*padding-right: 20px;*/
    width: 100%;
    height: 20px;
    background-image: linear-gradient(to bottom right, rgba(173, 204, 165, 0.75), rgba(225, 229, 240, 1));
}

.footer {
    width: 100%;
    z-index: 5;
    background: rgba(51,51,51,0.9);
    padding-top: 0.3%;
    /*padding-bottom: 0.3%;*/
    border-top: solid 1px rgba(0,0,0,0.7);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footerTop {
    width: inherit;
    line-height: 50px;
}

.footerBottom {
    line-height: 30px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(51,51,51,0.7);
    width: inherit;
    height: 30px;
}
.footerBottom a {
    color: lightcyan;
}

/*---------------------Login page--------------------*/

.loginPage {
    font-size: 1.2em;
    margin: 2px 0px 6px 0px;
}

/*-------------Meteor Login related styling-----------*/
div#login-buttons {
    float: right;
    margin-right: 4px;
}

a.login-close-text, a.login-link-text {
    font-size: 20px;
    text-decoration: none !important;
}

#loginPageDiv {
    margin: 30px;
}

#login-dropdown-list {
    right: 15px;
    left: initial;
}

.login-button, login-button:hover {
    transition: 0.5s;
}

#login-buttons .login-close-text {
    float: right;
    
}

.accounts-dialog {
    transition: 1s;
    background-image: linear-gradient(to top, #e6e6e6 , #ffffff);
}

/*---------------Lobby styling----------------------*/
h4.lobbyHeader {
    /*padding-bottom: 12px;*/
    margin: 0;
    display: inline-block;
}
#joinButton.button {
   margin: 0;
    display: inline-block;
}


#matchList {
    /*min-width: 375px;
    max-width: 860px;*/
    margin: 20px 0;
    background-image: radial-gradient(ellipse at center, #e6e6e6 30%, #c6c6c6 90%);
    /*background-image: radial-gradient(ellipse at center top, #e6e6e6 60%, #d9d9d9 80%);*/
    border-radius: 3px 3px 0 0;
}

#matchListHeader {
    margin: 0;
    border-width: 10px;
    border-bottom-style: solid;
    border-color: transparent;
    padding: 10px 20px;
    min-height: 40px;
    max-width: 100%;
    font-size: 16px;
    text-align: left;
    line-height: 1;
    /*background-image: linear-gradient(to bottom,#e6e6e6, #d9d9d9);*/
    /*background-image: linear-gradient(to bottom right, rgba(173, 204, 165, 0.75), rgba(225, 229, 240, 1));*/
    background-image: linear-gradient(to bottom right, rgba(164, 173, 203, 0.8), rgba(225, 229, 240, 0.8));
    box-shadow: 0px 1px 1px grey;
    /*border-radius: 3px 3px 0px 0px;*/
}


#matchListScroll {
    overflow-y: auto;
    min-height: 500px;
    max-height: 500px;
    padding-top: 5px;
    padding-bottom: 50px;

}

#matchListHeader hr {
    margin-bottom: 0px;
}

.matchBoxItem {
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(180,180,180,.9);
    margin: 6px 8px 3px 8px;
    padding: 12px 18px 12px 18px;
    min-height: 70px;
    max-width: 100%;
    font-size: 16px;
    /*background-image: linear-gradient(to bottom,#e6e6e6, #d9d9d9);*/
    background: rgba(255, 255, 255, 0.30);
    cursor: hand; cursor: pointer;
    transition: all 0.5s;
    transition-timing-function: ease;
}

.matchBoxItem:hover {
    border-color: green;
    /*color: green;*/
    /*background-image: linear-gradient(to bottom, #d9d9d9, #e6e6e6);*/
    background: rgba(173, 204, 165, 0.30);
}

.inline {
    display: inline;
}

.lastUpdated {
    font-size: smaller;
    font-weight: lighter;
}

.floatMiddle{
    padding-right: 23%;
    margin: 0;
    float: right;
    width: 50%;
    min-width: 200px;
    overflow: clip;
    /*display: inline;*/
}

.floatLeft {
    float: left;
    margin: 0;
    margin-right: 10px;
} 
.floatRight {
    float: right;
}

.lobbyRight {
    margin: 0;
    padding-right: 0%;
    width: 9%;
    min-width: 70px;
    overflow: clip;
}

p.floatLeft {
    border: 0;
    padding-left: 10px;
    border-left: 15px solid rgba(150,150,150,0.75);
}

.floatLeft.highlightTurn {
    border-left: 15px solid rgba(0,0,128,0.75);
}

/*---------------Chatbox styling----------------*/


.chatbox {
    /*max-width: 420px;*/
    /*height: 420px;*/
    /*margin: 0 auto;*/
    /*min-height: 420px;*/
    min-width: 250px;
    background-image: linear-gradient(to bottom, rgba(173, 204, 165, 0.75), #e1e5f0 100%);
    width: 100%;
    margin: 0px 20px 0px 20px;
    word-wrap: break-word;
    /*border-radius: 0 8px 8px 0;*/
    overflow: hidden;
}



::-webkit-scrollbar {
  width: 10px;   /*for vertical scrollbars */
  /*height: 12px;  for horizontal scrollbars*/ 
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}   

#chat-header {
    /*background: linear-gradient(to bottom right, rgba(175, 175, 175, .1), rgba(175, 175, 175, .80));*/
    max-height: 10%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.text-align-right {
    text-align: right;
}

#chat-message {
    min-height: 80%;
    width: 100%;
    /*min-height: 330px;*/
    padding: 0 4%;
    /*margin-right: 1em;
    margin-top: 1em;*/
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 330px;
}

.inlineChatMessage {
    width: 100%;
    line-height: 1.3;
    display: block;
}

.messageBubble {
    padding: 8px 16px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 16px;
    display: inline-block;
    word-wrap: break-word;
    margin-bottom: 2%;
    margin-right: 10%;
    
}
.blueFill {
    background-color: rgba(50,50,255,0.7);
    color: white;
    margin-left: 10%;
    margin-right: 0;
}
#chat-end {
    /*height: 3px;*/
    padding-bottom: 8px;
}

#chat-message > span:nth-child(1){
    margin-top: 10px;
}

.message-input input {
    /*width: 90%;*/
    max-height: 10%;
    /*margin: 0 2em 0 2em;*/
    word-wrap: break-word;
    background: transparent;
    outline: none; /*Prevent browser outline*/
    transition: 1s ease-in-out;
    border: 12px;
    border-color: grey;
}

.message-input input:hover {
    /*box-shadow: inset -1px -1px 2px 0px rgba(0, 0, 0, 0.2);*/
    transition: 0.5s ;
    /*background-image: linear-gradient(to bottom, rgba(225, 229, 240, 1), rgba(217, 217, 217, 0.6)) ;*/
    background-color: rgba(150, 200, 150, .2);
    outline: none;
}

.message-input input:focus {
    /*box-shadow: inset -1px -1px 2px 0px rgba(0, 0, 0, 0.2);*/
    transition: 0.5s ;
    /*background-image: linear-gradient(to bottom, rgba(225, 229, 240, 1), rgba(217, 217, 217, 0.6)) ;*/
    background-color: rgba(150, 200, 150, .2);
    outline: none;
}

input#message {
    /*background: transparent !important;*/
    height: 65px;
    width: 100%;
    margin: 0;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.0em;
}       

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .35), rgba(0, 0, 0, 0));
    margin: 0;
}

/*--------------------------Game styling---------------------*/
.button {
    float: right;
    border: none;
    background-image: linear-gradient(to top, #e6e6e6 , #ffffff);
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Helvetica;
    cursor: pointer;
    margin: 12px 2px;
    padding: 6px 15px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.button:hover {
    background-image: linear-gradient(to top, #cfcfcf, #ffffff);
}

.button:active {
    background-image: linear-gradient(to top, #ffffff , #e6e6e6);
}

#score {
    float: left;
    width: 35%;
    margin: 0px 0px 8px 0px;
    /*display: inline*/
}

/*For error handling and turn updates*/
span#messages {
    /*clear: fix;*/
    margin-left: 2%;
    display: block;
    /*float: left;*/
    /*max-width: 235px;*/
}

.inlineButtons {
        margin-right: 2%;
        float: right;
        vertical-align: middle;
}   

div#informationLine {
    width: auto;
    height: 47px;
}

div#playerDesignation {
    margin: 1.3%;
    float: left;
    /*display: inline-block;*/
    margin-left: 2.5%;
    border-radius: 4px;
    background-image: linear-gradient(to top, rgba(40,46,46,.4), rgba(40,46,46,.2));
    box-shadow: inset  0 0px 5px rgba(0,0,65,.3);
    letter-spacing: .1em;
    font-size: 130%;
    min-width: 50%;
    display: inline-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

div#playerDesignation > div >  p {
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
    margin: 0;
    text-shadow: 3px 2px 4px rgba(0,0,0, .2);
}

.playerTurnWrapper {
    display: inline-block;
    width: 41%;
    border-radius: 4px;
    vertical-align: middle;
    flex-grow: 1;
    transition: 0.5s;
}

#blackPlayerWrapper {
    padding-left: 2.5%;
    float: right;
    padding-right: 5%;
}

#whitePlayerWrapper {
    padding-right: 2.5%;
    padding-left: 5%;
}

.currentPlayerTurn {
    transition: 0.5s;
    background: rgba(220,220,220,1);
    color: black;
}

.scoreText {
    margin: auto;
    vertical-align: middle;
    font-size: .9em;
}

.playerScoreCircle {
    margin: 4px;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    box-shadow: 3px 2px 3px grey;
    font-weight: normal;
    letter-spacing: 0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.4;
}

.playerScoreBlack {
    background-image: radial-gradient(circle, #333333, #000000);
    color:#fff;
    border-color: #fff; 

}

.playerScoreWhite {
    background-image: radial-gradient(circle, #ffffff, #cccccc);
    color:#000;
    border-color: #000; 
}   

canvas {
    margin: 0px 20px 10px 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    float: left;
    border-radius: 8px;

    cursor: pointer;
    /*CSS Canvas Resize*/
    /*width: 100%;
    height: auto;*/
}

#canvas2 { /*Board with pieces*/
    background: initial;
    z-index: 1;
}

#canvas1 { /*Board with grid lines*/
    background: radial-gradient(circle, #9fd38e, #56a33d, #396d28);
}

#canvasesdiv {
    position: relative;
    /*width: 120%;*/
    /*height: 100%;*/
    /*overflow: auto;*/
      /*min-width: 420px;*/
    /*min-height: 420px;*/
    /*max-width: 840px;*/
}

.gameView {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
    display: flex;
    overflow: hidden;
}


/*--------------------------Screen size specific styling---------------------*/

@media screen and (min-width: 700px) {
    .chatbox { 
        margin-left: 660px; 
    }
}

@media screen and (max-width: 700px) {
    .container {
        margin: 0;
    }

    #canvasesdiv {
        float: none;
    }

    .chatbox {
        min-width: 30%;
        max-width: 60%;
        min-height: 300px;
        max-height: 300px;
        display: inherit;
        margin: 0;
        margin-right: 2px;
        margin-left: 305px;
        float: none;
    }

    canvas {
        width: 300px;
        height: 300px;
        margin: 0;
        margin-left: 2px;
    }
}

@media screen and (max-width: 420px){
    .gameView {
        display: block;
        width: 100%;
    }

    .container {
     margin: 0 auto;
     width: auto;
     padding: 0;
     height: auto;
     box-shadow: none;
    }

     #canvasesdiv {
        float: none;
        width: auto;
        display: inherit;
    }

    canvas {
        margin: 0;
        margin: auto; 
        width: 100%;
        /*height: 100%;*/
        border-radius: 0;
    }

    .chatbox {
        /*align-items: baseline;*/
        float: none;
        max-width: 420px;
        min-height: 420px;
        width: 100%;
        margin: auto;
        margin-top: 2px;
        display: inherit;
        /*margin-top: 460px;*/
    }

    #chat-message {
        min-height: 340px;
    }

    #matchList {
        margin: 0;
        width: 100%;
    }

    #matchListScroll {
        max-height: 400px;
    }

    p.floatRight {
        display: none;
    }

    .floatMiddle {
        padding-right: 1%;
        min-width: 50%;
    }

    h1 {
        margin: 0;
    }

    div#login-buttons {
        margin: 0;
        margin-top: 0px;
    }

    p#turn {
        display: none;
    }

    div#playerDesignation {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        line-height: 1;
    }

    .playerTurnWrapper {
        width: 41.8%;
    }
}


/*@media(max-width:1200px) {
    canvas {
            width: 100%;
            height: auto;
            }
    #canvasesdiv {
        margin: 0 50px;
    }
    }*/
