
/*-------------------General------------------*/

body {
    background-image: linear-gradient(170deg, rgba(161, 157, 162, 0.68), #918e82 100%);

    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Helvetica;
    /*Prevent bg gradiant repeat*/
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom right, rgba(173, 204, 165, 0.75), rgba(225, 229, 240, 1));
    padding: 10px 15px 2px 15px;
    position: relative;
    box-shadow: 0px 0px 5px grey;
    }

.container {
    max-width: 900px;
    min-width: 400px;
    margin: 0 auto;
    background: rgba(255,255,255,.9);
    padding-bottom: 20px;
    box-shadow: 5px 5px 8px grey;
    }

h1 {
    font-size: 4.0em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
    font-weight: lighter;
    text-shadow: 3px 2px 4px rgba(0,0,0,.2);
    /*No support for firefox*/
       /* background: linear-gradient(#000000, #383838, #000000);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;  */
     }

@-moz-document url-prefix(){ 
 h1 { /*Firefox specific fix to prevent failure of background-clip*/
    color: black;
    background: none;
    -webkit-background-clip: none; 
    -webkit-text-fill-color: none;
    }
}
h2 {
    font-weight: lighter;
    font-size: 2.0em;
    margin: 0;
}

h3 {
    margin: 0 0 6px 10px;
    font-weight: lighter;
    }
h4 {
    font-size: 1.4em;
    font-weight: lighter;
    margin: 22px 0px 8px 0px;
}


a {
    text-decoration: none
}
a:visited {
    color: blue;
}

.footerElement {
    float: left;
    padding-right: 20px;
    width: 100%
    height: 20px;
    background-image: linear-gradient(to bottom right, rgba(173, 204, 165, 0.75), rgba(225, 229, 240, 1));

}
/*---------------------Login page--------------------*/

.loginPage {
    font-size: 1.2em;
    margin: 2px 0px 6px 0px;
}

/*-------------Meteor Login related styling-----------*/


div#login-buttons {
    float: right;
    font-size: 18px;
    margin-right: 4px;
   }

#login-buttons a {
    text-decoration: none;
    }

#loginPageDiv {
    margin: 30px;
    }

#login-dropdown-list {
    right: 1px;
    left: initial;
    }

#login-buttons .login-close-text {
    float: right;
    }
.accounts-dialog {
    transition: 1s;
    background: rgba(240,240,255,1);
}

/*---------------Lobby styling----------------------*/
.lobbyHeader {
    padding-bottom: 12px;
    margin: 0;
}

#matchList {
    min-width: 375px;
    max-width: 860px;
    margin: 30px;
    background-image: radial-gradient(ellipse at center, #e6e6e6 30%, #c6c6c6 90%);
    /*background-image: radial-gradient(ellipse at center top, #e6e6e6 60%, #d9d9d9 80%);*/
    /*border-radius: 3px;*/

}

#matchListScroll {
    overflow-y: auto;
    min-height: 500px;
    max-height: 500px;
}

#matchListHeader {
    border-style: none;
    margin: 6px 0px 0px 0px;
    border-width: 1px;
    border-color: grey;
    padding: 10px 10px 0px 10px;
    min-height: 40px;
    max-width: 100%;
    font-size: 16px;
    text-align: center;
    /*background-image: linear-gradient(to bottom,#e6e6e6, #d9d9d9);*/
    /*background-image: linear-gradient(to bottom right, rgba(173, 204, 165, 0.75), rgba(225, 229, 240, 1));*/
    background-image: linear-gradient(to bottom right, rgba(164, 173, 203, 0.8), rgba(225, 229, 240, 0.8));
    box-shadow: 0px 1px 1px grey;
    /*border-radius: 3px 3px 0px 0px;*/


}
#matchListHeader hr {
    margin-bottom: 0px;
}

.matchBoxItem {
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(180,180,180,.9);
    margin: 6px 8px 3px 8px;
    padding: 12px 18px 12px 18px;
    min-height: 45px;
    max-width: 100%;
    font-size: 16px;
    /*background-image: linear-gradient(to bottom,#e6e6e6, #d9d9d9);*/
    background: rgba(255, 255, 255, 0.30);
    cursor: hand; cursor: pointer;
    transition: all 0.5s;
    transition-timing-function: ease;

}

.matchBoxItem:hover {
    border-color: green;
    /*color: green;*/
    /*background-image: linear-gradient(to bottom, #d9d9d9, #e6e6e6);*/
    background: rgba(173, 204, 165, 0.30);
}

.inline {
    display: inline;
}

.floatMiddle{
    padding-right: 23%;
    margin: 0;
    float: right;
    width: 26%;
    min-width: 200px;
    overflow: clip;
    display: inline;
}

.floatLeft {
    float: left;
    margin: 0;
    margin-right: 10px;

 } 

.floatRight {
    float: right;
    margin: 0;
    padding-right: 0%;
    width: 9%;
    min-width: 70px;
    overflow: clip;

 }
p.floatLeft {
    border: 0;
    padding-left: 10px;
    border-left: 15px solid rgba(150,150,150,0.75);
}
.floatLeft.highlightTurn {
        border-left: 15px solid rgba(0,0,128,0.75);
}

 /*---------------Chatbox styling----------------*/


.chatbox {
    /*max-width: 420px;*/
    min-height: 420px;
    /*height: 420px;*/
    /*margin: 0 auto;*/
    min-height: 420px;
    min-width: 250px;
    background-image: linear-gradient(to bottom, rgba(173, 204, 165, 0.75), #e1e5f0 100%);
    /*float: right;*/
    width: 100%;
    margin: 0px 20px 0px 20px;
    word-wrap: break-word;
    /*border-radius: 0 8px 8px 0;*/
    overflow: hidden;
    }

 ::-webkit-scrollbar {
  width: 10px;   /*for vertical scrollbars */
  /*height: 12px;  for horizontal scrollbars*/ 
    }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
    }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
    }   

#chat-header {
    /*background: linear-gradient(to bottom right, rgba(175, 175, 175, .1), rgba(175, 175, 175, .80));*/
    max-height: 10%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

    }

#chat-message {
    min-height: 80%;
    width: 96%;
    /*min-height: 330px;*/
    margin-left: 4%;
    /*margin-right: 1em;
    margin-top: 1em;*/
    overflow-y: auto;
    max-height: 330px;
    }

#chat-end {
    /*height: 3px;*/
    padding-bottom: 8px;
}

#chat-message > strong:nth-child(1){
    margin-top: 20px;
}

.message-input input {
    /*width: 90%;*/
    max-height: 10%;
    /*margin: 0 2em 0 2em;*/
    word-wrap: break-word;
    background: transparent;
    /*border: none;    */
    /*box-sizing: border-box;*/
    outline: none; /*Prevent browser outline*/
    transition: 1s ease-in-out;
    border: 12px;
    border-color: grey;
    }

.message-input input:focus {
    /*box-shadow: inset -1px -1px 2px 0px rgba(0, 0, 0, 0.2);*/
    transition: 0.5s ;
    /*background-image: linear-gradient(to bottom, rgba(225, 229, 240, 1), rgba(217, 217, 217, 0.6)) ;*/
    background-color: rgba(150, 200, 150, .2);
    outline: none;
    }

 input#message {
    /*background: transparent !important;*/
    height: 40px;
    width: 90%;
    margin: 0;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.0em;
    
    }       

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .35), rgba(0, 0, 0, 0));
    margin: 0;
    }
/*--------------------------Game styling---------------------*/
.button {
    float: right;
    border: none;
    background-image: linear-gradient(to top, #e6e6e6 , #ffffff);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Helvetica;
    cursor: pointer;
    margin: 4px 2px;
    padding: 6px 15px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

.button:hover {
    background-image: linear-gradient(to top, #cfcfcf, #ffffff);
    }

#score {
    float: left;
    width: 35%;
    margin: 0px 0px 8px 0px;
    display: inline
    }
/*For error handling and turn updates*/
p#messages {
    margin-left: 2%;
    display: inline;
    float: left;
/*    background: lightgrey;
*/    }
/*#turn {
    display: inline;
    }

 #playerChoice {
    float: right;
    padding-right: 45px;
    font-size: 16px;

    }*/
 .inlineButtons {
    margin-right: 2%;
    float: right;
    vertical-align: middle;

 }   

/*span {
    margin: 0;
    padding: 0;
    display: inline;
    white-space: nowrap;
}*/

div#informationLine {
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    width: auto;
    height: 47px;
}
div#playerDesignation {
    margin: .9%;
    float: left;
    display: inline-block;
    margin-left: 2.5%;
    border-radius: 8px;
    background-image: linear-gradient(to top, rgba(40,46,46,.4), rgba(40,46,46,.2));
    box-shadow: inset  0 0px 5px rgba(0,0,65,.3);
    letter-spacing: .1em;
    font-size: 130%;
    min-width: 46%;
    /*background: repeating-linear-gradient(
          45deg,
          rgba(25,25,25,.25),
          rgba(25,25,25,.25) 10px,
          rgba(75,75,75,.25) 10px,
          rgba(75,75,75,.25) 20px
        );*/
    display: inline-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

div#playerDesignation > div >  p {
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
    margin: 0;
    text-shadow: 3px 2px 4px rgba(0,0,0, .2);
/*    border-bottom: 2px blue solid;
*/

}
.playerTurnWrapper {
    display: inline-block;
    width: 41%;
    border-radius: 8px;
    vertical-align: middle;
    
    flex-grow: 1;
    transition: 0.5s;



}    
#blackPlayerWrapper{
    padding-left: 2.5%;
    float: right;
    padding-right: 5%;

}
#whitePlayerWrapper{
    padding-right: 2.5%;
    padding-left: 5%;
}

.currentPlayerTurn{
    transition: 0.5s;
    background: rgba(220,220,220,1);
    color: black;
    box-shadow:  inset 0 0 5px rgba(0,0,10, .2);
    
/*    box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.075); 
*/
  }
.scoreText {
    margin: auto;
    vertical-align: middle;
    font-size: .9em;
    }
.playerScoreCircle {
    margin: 4px;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    box-shadow: 3px 2px 3px grey;
    font-weight: normal;
    letter-spacing: 0;
    text-align: center;
    /*border-style: solid;*/
    display: inline-block;
    vertical-align: middle;
    }
 .playerScoreBlack {
    /*background:#000;*/
    background-image: radial-gradient(circle, #333333, #000000);
    color:#fff;
    border-color: #fff; 

 }
 .playerScoreWhite {
    /*background:#fff;*/
    background-image: radial-gradient(circle, #ffffff, #cccccc);
    color:#000;
    border-color: #000; 
 }   

canvas {
    /*background: #8fcb7c;*/
    /*display: table-cell;*/
    margin: 0px 20px 10px 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    float: left;
    /*border-radius: 8px 0 0 8px;*/
	border-radius: 8px;
    max-width: 420px;
    max-height: 420px;
    cursor: pointer;
    	}

#canvas2 { /*Board with pieces*/
    background: initial;
    z-index: 1;
    }

#canvas1 { /*Board with grid lines*/
    /*background: radial-gradient(circle, red, purple, navy);*/
    background: radial-gradient(circle, #9fd38e, #56a33d, #396d28);
    }

#canvasesdiv {
    position: relative;
    height: 420px;
    /*display: table-cell;*/
    }
.gameView {
    /*display: table;*/
    width: 100%;
    height: auto;
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
    display: flex;
    overflow: hidden;
}
/*--------------------------Screen size specific styling---------------------*/

@media screen and (min-width: 700px) {
  
       .chatbox { 
        margin-left: 460px; 
       }
}
@media screen and (max-width: 700px) {
    .container {
        margin: 0;
         }
       
    #canvasesdiv {
        float: none;
    }
    .chatbox {
        min-width: 30%;
        max-width: 60%;
        min-height: 300px;
        max-height: 300px;
        display: inherit;
        margin: 0;
        margin-right: 2px;
        margin-left: 305px;
        float: none;
    }

    canvas {
        width: 300px;
        height: 300px;
        margin: 0;
        margin-left: 2px;

    }
    
}
@media screen and (max-width: 420px){
    .gameView {
        display: block;
        width: 100%;
    }

    .container {
       max-width: 100%;
       width: 100%;
       margin: 0;
       padding: 0;
       height: auto;
    }
    #canvasesdiv {
        float: none;
        width: auto;
        display: inherit;

    }

    canvas {
        margin: 0;

        margin: auto; 
        width: 100%;
        height: 100%;
        border-radius: 0;

    }
    .chatbox {
        /*align-items: baseline;*/
        float: none;
        max-width: 420px;
        min-height: 420px;
        width: 100%;
        margin: auto;
        margin-top: 2px;
        display: inherit;
        /*margin-top: 460px;*/
    }
#chat-message {
        min-height: 340px;
    }
#matchList {
    margin: 0;
    width: 100%;

}
#matchListScroll {
    max-height: 400px;
}
p.floatRight {
    display: none;
}
.floatMiddle {
    padding-right: 1%;
    min-width: 50%;

}
h1 {
    margin: 0;
}
div#login-buttons {
    margin: 0;
    margin-top: 0px;
}
p#turn {
    display: none;
}
div#playerDesignation {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.playerTurnWrapper {
    width: 41.8%;
}

}


/*@media(max-width:1200px) {
    canvas {
            width: 100%;
            height: auto;
            }
    #canvasesdiv {
        margin: 0 50px;
    }
    }*/


/* FOR USE WITH CHART
#barChart {
     background: radial-gradient(circle, #9fd38e, #56a33d,
    #396d28);}*/
