/* Grid declarations */
body {
    /*background: #eff7ec;*/
    background: linear-gradient(#d7ded4, #f8fbf7); /*eff7ec*/
    font-family: sans-serif;
    /*stop bg gradiant repeat*/
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	}

canvas {
    /*background: #8fcb7c;*/
    margin: 20px;
    position: absolute;
    left:0px;
    top:0px;
		}
#canvas2 {
    /*Board with pieces*/
    background: initial;
    /*position: relative;*/
    }
#canvas1 {
    /*Board with grid lines*/
    background: radial-gradient(circle, #9fd38e, #56a33d,
    #396d28);
    /*position: relative;*/
    }
#canvasesdiv {
    position: relative;

}
/* FOR USE WITH CHART
#barChart {
     background: radial-gradient(circle, #9fd38e, #56a33d,
    #396d28);}*/

h1 {
    font-weight: lighter;
    }
h3 {
    font-weight: lighter;
    }    
p {
    }

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}
